import { TysConfig, locateJsOut} from "{{{tysModule}}}";  // from "tys";

const gulpFileJs = locateJsOut("gulpfile.ts");

const config: TysConfig = {
  tsFile: "gulpfile.ts",
  otherTsFiles: ["build/**/*.ts"],
  command: `gulp --cwd . --gulpfile ${gulpFileJs}`
};

export default config;